// font-family
$ff-primary: 'Playfair Display', serif;
$ff-secondary: 'Poppins', sans-serif;

// font-sizes
$fs-default: 2rem;
$fs-s: 1.6rem;
$fs-xs: 1.2rem;
$fs-l: 2.4rem;
$fs-xl: 2.8rem;

// font-weights
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

// Colors
$color-primary: teal;
$color-white: white;
$color-orange: #ff7e06;
$color-pink: #fe5c77;
// $color-pink: #ff79c6;
$color-black: black;
$color-gray: gray;
$color-grayLight: #f0f0f0;
$color-gold: gold;
$color-red: #ff5555;
