.cart {
  &__container {
    width: 100%;
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 3rem 2rem;
    padding: 0 1rem;
  }

  &__bill {
    height: 10rem;
    width: 100%;
    max-width: 60rem;
    padding: 1rem 2rem;
    font-size: $fs-default;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
    border-spacing: 1rem;

    &__heading {
      font-size: $fs-xl;
    }

    &__discount,
    &__delivery,
    &__total,
    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__foot {
      font-size: $fs-s;
      color: $color-gray;

      &-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__discount {
      &-number {
        color: $color-red;
      }
    }

    &__total {
      font-size: $fs-xl;
      padding: 1rem 0;
      &-number {
        color: $color-primary;
      }
    }

    &__save {
      font-weight: $fw-bold;
      font-size: $fs-default;
    }

    &-payment {
      width: 100%;
      max-width: 60rem;
      padding: 1rem 2rem;
      height: 10rem;
    }
  }

  &__order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;

    &-required {
      color: $color-red;
      display: inline-block;
      white-space: nowrap;
      font-weight: $fw-bold;
    }

    &-error {
      font-size: $fs-xs;
      color: $color-red;
      width: 100%;
    }

    &-label {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      flex-wrap: wrap;
      width: 100%;
      color: $color-gray;
      font-size: $fs-s;
    }

    &-input {
      width: 100%;
      font-size: $fs-default;
      border-radius: 1rem;
      outline: none;
      border: none;
      background: $color-grayLight;
      padding: 1rem 2rem;

      &.address {
        width: 100%;
        height: 10rem;
        resize: none;
      }
    }

    &-checkout {
      width: 100%;
      background: $color-primary;
      border-radius: 2rem;
      color: $color-white;
      font-size: 2.6rem;
      padding: 1rem 2rem;
      margin: 1rem 0;
    }
  }
}
