.product {
  display: flex;
  gap: 4rem;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    width: 100%;
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem 2rem;
  }
}
