.header {
  height: 100%;
  width: 100%;
  max-width: 180rem;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .logo {
    width: 100%;
    max-width: 15rem;
    flex-shrink: 0;
    margin: 2rem;
    &__image {
      width: 100%;
      max-height: 100%;
    }
  }

  .nav {
    width: 100%;
    max-width: 60rem;
    margin: 4em;

    &__links {
      display: flex;
      justify-content: space-evenly;
      gap: 4.1rem;
    }

    &__link {
      font-size: $fs-default;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 0%;
        height: 1px;
        border-bottom: 2px solid rgb(122, 122, 122);
        bottom: -6px;
        transition: width 0.3s;
      }

      .active:before {
        position: absolute;
        content: '';
        width: 35%;
        height: 1px;
        border-bottom: 2px solid black;
        bottom: -6px;
      }

      &:hover:before {
        width: 35%;
      }
    }
  }
}
